<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asciimovie.drxzt.elderlyassistant">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.food.FoodCeleryActivity"></activity>
        <activity android:name=".fragment.AddActivity" />
        <activity android:name=".activity.food.Note2Activity" />
        <activity android:name=".activity.food.Note1Activity" /> <!-- android:appComponentFactory="" -->
        <!-- tools:replace="android:appComponentFactory" -->
        <activity android:name=".activity.Sports.TaijiquanActivity" />
        <activity android:name=".activity.Sports.SquaredanceActivity" />
        <activity android:name=".activity.Sports.ExerciseActivity" />
        <activity android:name=".activity.Sports.RunActivity" />
        <activity android:name=".activity.Sports.WalkActivity" />
        <activity android:name=".activity.Sports.SportsActivity" />
        <activity android:name=".activity.food.FoodBaconActivity" />
        <activity android:name=".activity.food.FoodPineappleActivity" />
        <activity android:name=".activity.food.FoodPotatoActivity" />
        <activity android:name=".activity.food.FoodShrimpActivity" />
        <activity android:name=".activity.food.FoodSpinachActivity" />
        <activity android:name=".activity.Coummunity.FestivalsActivity" />
        <activity android:name=".activity.Coummunity.ServiceActivity" />
        <activity android:name=".activity.Coummunity.SaleActivity" />
        <activity android:name=".activity.Coummunity.VolunteerActivity" />
        <activity android:name=".activity.Coummunity.CommunityActivity"></activity>

        <activity android:name=".activity.food.Food1PorkGarlicActivity" />
        <activity android:name=".activity.food.Food1BeefPotatoActivity" />
        <activity android:name=".activity.food.Food1LeanmeatGreenchineseonionActivity" />
        <activity android:name=".activity.food.Food1SesameKelpActivity" />
        <activity android:name=".activity.food.Food1LiverSpinachActivity" />
        <activity android:name=".activity.food.Food1TofuCarrotActivity" />
        <activity android:name=".activity.food.Food1FragrantfloweredgarlicEggActivity" />

        <activity android:name=".activity.food.FoodActivity" />
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>