<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asciimovie.drxzt.elderlyassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.user.Food_baconActivity"></activity>
        <activity android:name=".Activity.user.Food_pineappleActivity" />
        <activity android:name=".Activity.user.Food_potatoActivity" />
        <activity android:name=".Activity.user.Food_shrimpActivity" />
        <activity android:name=".Activity.user.Food_spinachActivity" />
        <activity android:name=".Activity.user.Fragment_food_1" />
        <activity android:name=".Activity.user.FestivalsActivity" />
        <activity android:name=".Activity.user.ServiceActivity" />
        <activity android:name=".Activity.user.SaleActivity" />
        <activity android:name=".Activity.user.VolunteerActivity" />
        <activity android:name=".Activity.user.FoodActivity" />
        <activity android:name=".Activity.user.CommunityActivity" />
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>